/*
Created by Sean L. on Jun. 28.
Last Updated by Sean L. on Jun. 29.

Epitaph - Frontend
src/layout.css

Provides tailwind-styled padding classes for usage.
Makabaka1880, 2025. All rights reserved.
*/

:root {
    --spacing-xs: 10px;
    --spacing-sm: 20px;
    --spacing-md: 40px;
    --spacing-lg: 60px;
    --spacing-xl: 100px;
}

/* Horizontal Padding */

.margin-h-xs {
    margin-left: var(--spacing-xs);
    margin-right: var(--spacing-xs);
}

.margin-h-sm {
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.margin-h-md {
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
}

.margin-h-lg {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
}

.margin-h-xl,
.margin-h {
    margin-left: var(--spacing-xl);
    margin-right: var(--spacing-xl);
}

/* Vertical Padding */

.margin-v-xs {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.margin-v-sm {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.margin-v-md {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.margin-v-lg {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.margin-v-xl,
.margin-v {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}

/* Top / Bottom only */

.margin-top-xs {
    margin-top: var(--spacing-xs);
}
.margin-top-sm {
    margin-top: var(--spacing-sm);
}
.margin-top-md {
    margin-top: var(--spacing-md);
}
.margin-top-lg {
    margin-top: var(--spacing-lg);
}
.margin-top-xl,
.margin-top {
    margin-top: var(--spacing-xl);
}

.margin-bottom-xs {
    margin-bottom: var(--spacing-xs);
}
.margin-bottom-sm {
    margin-bottom: var(--spacing-sm);
}
.margin-bottom-md {
    margin-bottom: var(--spacing-md);
}
.margin-bottom-lg {
    margin-bottom: var(--spacing-lg);
}
.margin-bottom-xl,
.margin-bottom {
    margin-bottom: var(--spacing-xl);
}

/* Utility */

.expanded-between {
    justify-content: space-between;
}
