/*
Created by Sean L. on Jun. 28.
Last Updated by Sean L. on Jun. 28.

Epitaph - Backend
epitaph/frontend/src/palette.css

Makabaka1880, 2025. All rights reserved.
*/


body {
    --black-cyan: #011;
    --dark-cyan: #033;
    --reg-cyan: #066;
    --light-cyan: #0aa;

    --cold-shadow-tinted: rgba(72, 187, 183, 0.15);

    --dark-gray: #333;
    --reg-gray: #666;
    --caption-gray: #888;
    --bg-gray: #aaa;
    --light-gray: #eee;
}