/*
Created by Sean L. on Jun. 28.
Last Updated by Sean L. on Jun. 28.

Epitaph - Frontend
src/style.css

Makabaka1880, 2025. All rights reserved.
*/

@import url('layout.css');
@import url('palette.css');
@import url('controls.css');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--light-cyan);
}

ul {
    list-style: none;
}

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
}

.hstack {
    display: flex;
    align-items: center;
}

.heading-box {
    display: flex;
}

ul {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--bg-gray);
    width: calc(100vw - 300px);
    margin: 20px auto;
}

/* html {
    filter: grayscale(100);
} */