/*
Created by Sean L. on Jun. 28.
Last Updated by Sean L. on Jun. 28.

Epitaph - Frontend
src/padding.css

Provides tailwind-styled padding classes for usage.

TODO: Make responsive / update to responsive pixels @ABloom

Makabaka1880, 2025. All rights reserved.
*/

.padding-h {
    padding-left: 100px;
    padding-right: 100px;
}

.padding-h-sub {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-top {
    padding-top: 100px;
}
.padding-top-sub {
    padding-top: 50px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.padding-v {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-v-sub {
    padding-top: 50px;
    padding-bottom: 50px;
}

.expanded-between {
    justify-content: space-between;
}